doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        title タイトル
        link(heref="css/reset.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
    body
      .header
        h2 賭けサイト
        p#login.login ログイン
        p#signup signup

      .output
        p#plus.plus 新規賭けページを作る
        h3 BET可能一覧
        .output-content
        

      .insert-content#insert-content
        .setup-bet
          form(name="form")
            h3 新規Bet作成画面
            p.discription 新規BETのタイトルと説明とBET可能期間を入力してください
            p.title タイトル
            input.title-input#title_input(type="text" name="title")
            p.target-name 対象名
            input.target#target(type="text" name="target")
            .aiueo 
              p.target-discription ※入力が終わりましたら、ENTERを押すと下に追加されます。全ての入力が終わったら完了ボタンを押してください
              .input-finish 完了
            .target-out
      
      .bet-window
        .bet-contents-wrapper
          .bet-contents
            h1.bet-title 
            form.bet-target

      //-   signup
      #signup_window.signup-window
        p ID
          input#id_name(type="text" placeholder="idを入力してください")
        p password
         input#password(type="text" placeholder="パスワードを入力してください")
        button#in signup
        p.chuui ※パスワードは1234やaiueoなど簡易的なものをご使用ください

      #login_window.login-window
        p ID
          input#id(type="text" placeholder="idを入力してください")
        p password
          input#pass(type="text" placeholder="パスワードを入力してください")
        button#log_in ログイン


      <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
      script(src="./js/jquery-2.1.3.min.js")
      script(src="./js/aiueo.js")

      

         
      
    